
.container.homepage-content{
  overflow: hidden;
  margin: 0px;
}

// Footer

.home #footer{
  background: #f1f1f1;
}

#footer{
  position: relative;
  overflow: hidden;
  width: 100%;

  .container-footer{
    background: $background_menu_scroll;
    margin-left: -100px;
    margin-right: -100px;
    border-radius: 60vw/5vw;
    background-image: url(/wp-content/uploads/2019/05/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    background-position: 50% -50px;
    background-attachment: fixed;
  }

  .sub-footer{
    max-width: 1280px;
    padding: 100px 20px 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-footer-child{
    width: 33.33%;
    float: left;
    padding: 0px 25px;
    text-align: center;
  }

  .recent-post-footer{

    margin-bottom: 30px;

    >a{
      color: $color_text_footer;
      font-size: $font__size-md;
      margin-bottom: 5px;
      text-decoration: none;

      &:hover{
        color: $active_menu_header;
      }
    }
  }

  .item-meta{
    margin-top: 5px;

    a{
      font-size: $font__size-xs;
      color: $active_menu_header;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: $letter-spacing-xxs;
      text-decoration: none;
    }
  }

  .widget-title{
    font-size: $font__size-xxxl;
    color: $color_text;
    font-weight: 600;
    margin: 95px 0px 32px 0px;
  }

  .logo-footer{
    margin: 10px 0px 27px;
  }

  .textwidget{
    padding: 0px 5px;
    margin-bottom: 20px;

    p{
      font-size: $font__size-md;
      color: $color_text_footer;
    }
  }

  .media-body.darklinks{
    color: $color_text;
    font-size: $font__size-md;
    width: auto;

    a{
      color: $color_text;
      font-size: $font__size-md;
    }
  }

  .media-left{
    padding-right: 15px;
  }

  .media.small-teaser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;

    i{
      color: $background_copyright;
    }
  }

  .fa-map-marker{
    color: $background_copyright;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: $background_menu_scroll;
      border-radius: 50%;
      left: 3px;
      top: 2px;
    }
  }

  .fa-phone{
    transform: scaleX(-1);
    font-size: $font__size-xs;
  }

  .fa-envelope{
    font-size: $font__size-md;
    margin-top: 3px;
  }

  .text_for_footer{
    font-size: $font__size-md;
    color: $color_text_footer;
  }

  .widget-socials-link{
    display: flex;
    justify-content: center;
    margin-top: 25px;

    svg{
      width: 14px;
      height: 14px;
    }
  }

  .social-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
  }

  .soc-facebook{
    background: #507cbe;
  }

  .soc-twitter{
    background: #00abef;
  }

  .soc-google{
    background: #d93e2d;
    margin-right: 0px;
  }

  .page_copyright{
    background: $background_copyright;
    text-align: center;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    width: 100%;
    margin-bottom: -10px;
  }

  .page_copyright_text{
    margin: 0px;
    font-size: 12px;
    color: $color_text;
    font-weight: 700;
    letter-spacing: $letter-spacing-xxs;
    text-transform: uppercase;
  }

}