.header-active {
    background: $background_menu_scroll !important;
}

.body-active{
    overflow: hidden;
}

#header {
    background-color: $background_header;
    padding: 0px;
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    transition: transform .4s ease, -webkit-transform .4s ease;

    .container-header {
        max-width: $max-width;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0px 20px;
        height: 129px;
        transition: height 0.3s;
    }

    .close-menu-mobile {
        display: none;
        position: absolute;
        top: 0px;
        height: 100vh;
        background: $color_text_submenu;
        width: 100%;
        z-index: 99;

        svg {
            width: 25px;
            fill: $color_text;
        }
    }

    .close-menu-mobile-nav {
        float: right;
        cursor: pointer;
        padding-right: 15px;
        padding-top: 17px;
    }

    .header_mainmenu_active {
        left: 0px !important;
    }

    .navPages-item-active {
        padding: 36px 0px;
    }

    .navPage-subMenu {
        display: none;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 100%;
        z-index: 9;
        background: $color__background-body;
        padding: 30px 20px;
        box-shadow: 0 2px 8px rgba(60, 64, 62, .2);
    }

    .navPage-subMenu-list {
        padding: 0px;
        width: 250px;
        float: left;
    }

    .sub-navPage-subMenu-list.active {
        > a {
            color: $active_menu_header;
        }

        svg {
            fill: $active_menu_header;
        }
    }

    .active-navPage-subMenu-list {
        width: calc(100% - 250px);
        float: left;
        padding-left: 50px;
    }

    .content-sub-navPage-subMenu-list {
        display: none;
    }

    .content-sub-navPage-subMenu-list.active {
        display: block;
    }

    .navPage-childList {
        padding: 0px;
        width: $columns-sx;
        float: left;
    }

    .header-slide-menu {
        font-size: $font-1;
        color: $color_text;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-xxs;
    }

    .scroll-wrapper-active {
        opacity: 1 !important;
        transform: scaleX(1) !important;
    }

}

.logo-header {
    width: $columns-1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;

    a {
        display: flex;
    }

    img {
        height: 50px;
        width: auto;
    }

}


.header_mainmenu {
    width: $columns-2;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out 0s;

    .navPages-action {
        color: $color_text;
        letter-spacing: $letter-spacing-xxs;
        position: relative;
        text-decoration: none;

        &:after {
            content: "\f111";
            font-family: FontAwesome;
            color: $background_white;
            font-size: 5px;
            position: relative;
            margin-left: 0;
            top: -3px;
            right: -35px;
        }
    }
}

.mainmenu_wrapper {
    display: flex;
}

.sub-navPage-subMenu-list {
    width: 100%;
    line-height: 45px;
    list-style: none;
    position: relative;
    cursor: pointer;

    a {
        color: $color_text_submenu;
        letter-spacing: $letter-spacing-xxs;
    }

    svg {
        width: 10px;
        height: 20px;
        margin-top: 12.5px;
        float: right;
    }
}

.menu-main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.navPages-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: $padding-list-menu;
    font-weight: 600;

    &:last-child {
        .navPages-action:after {
            display: none;
        }
    }

    &:hover {
        .navPage-subMenu {
            display: block !important;
        }

        .navPages-action {
            color: $active_menu_header;
        }
    }
}

.sub-navPage-childList {
    list-style: none;
    line-height: 45px;

    a {
        color: $color_text_submenu;
        letter-spacing: $letter-spacing-xxs;

        &:hover {
            color: $active_menu_header;
        }
    }
}

.after-toggle-menu-mobile {
    position: relative;
    left: -15px;

    &:after {
        display: block;
        width: 30px;
        position: relative;
        background-color: #ffffff;
        content: '';
        left: 15px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 2px;
        top: 8px;
        margin: auto;
    }

    &:before {
        display: block;
        width: 30px;
        position: relative;
        background-color: #ffffff;
        content: '';
        left: 15px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 2px;
        margin: auto;

    }
}

.header_right {
    width: $columns-1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.toggle_menu_side {
    position: relative;
    cursor: pointer;
    z-index: 99;
    height: 40px;
    line-height: 40px;

    &:before {
        content: '';
        display: block;
        width: 30px;
        position: relative;
        background-color: $color__background-body;
        left: 50%;
        top: 10px;
        margin-left: -15px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 2px;
    }

    &:after {
        content: '';
        display: block;
        width: 30px;
        position: relative;
        background-color: $color__background-body;
        left: 50%;
        top: -8px;
        margin-left: -15px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 2px;
    }
}

.search_modal_button {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    top: 96px;
    background-color: $color__background-body;
    border: 1px solid $color_solid;
    border-radius: 50%;
    z-index: 10;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
        background-color: $active_menu_header;
        border-color: $active_menu_header;

        .fa-search {
            color: $color_text;
        }
    }

    .fa-search {
        color: #1f2732;
        font-size: 16px;
        line-height: 60px;
    }
}

.scroll-wrapper {
    background: $background_menu_scroll;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 11;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.3s ease 0s;

    a {
        font-size: $font-menu-scroll;
        color: $color_text;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: 'Fjalla One', sans-serif !important;
        font-weight: 700;
    }

    li {
        list-style: none;
    }

    .menu-scroll {
        width: 270px;
        margin: auto;
        text-align: center;
        padding: 0px;
    }

    .sub-nav-menu-scroll {
        margin: 30px 0px;
        display: none;
    }

    .sub-nav-menu-scroll.is-open {
        display: block;
    }

    .container-sub-nav-menu-scroll, .sub-navPage-subMenu-list {
        padding: 0px;

        .fa-plus, .fa-minus {
            padding-top: 10px !important;
        }
    }

    .nav-item-sub, .sub-navPage-childList {
        line-height: 33px;
    }

    .content-sub-navPage-subMenu-list {
        margin: 30px 0px;
        display: none;
    }

    .content-sub-navPage-subMenu-list.is-open {
        display: block;
    }

    .img-logo-scroll {
        max-width: $max-width;
        padding: 0px 30px;
        margin: auto;
        img {
            height: 50px;
            width: auto;
        }
    }

    .container-logo {
        padding: 39.5px 0px;
    }

    .header-side-menu {
        margin-top: 30px;
        overflow-y: scroll;
        height: calc(100vh - 200px);
    }

    .header-side-menu::-webkit-scrollbar {
        width: 8px;
        background-color: $scroll_menu;
        border-radius: 5px;
    }
    .header-side-menu::-webkit-scrollbar-thumb {
        background-color: $scroll_menu;
    }
    .header-side-menu::-webkit-scrollbar-track {
        background-color: $background_menu_scroll;
    }

    .nav-menu-scroll {
        padding: 15px 0px;

        .fa-plus, .fa-minus {
            float: right;
            color: $active_menu_header;
            padding-top: 5px;
            cursor: pointer;
            font-size: $font__size-sm;
        }
    }
}

// css popup search
//===========================================================================

.input-search::-webkit-input-placeholder {
    color: #cdcdcd;
    letter-spacing: 0.2rem;
    font-size: 12px;
    text-transform: uppercase;
}

.input-search {
    background: transparent;
    color: #fff;
    font-weight: 700;
    width: calc(100% - 35px - 64px);
    float: left;
    height: 40px;
    font-size: 16px;
}

.close-search {
    width: 15px;
    height: 15px;
    float: left;
    color: #fff;
    opacity: 1;
    cursor: pointer;
    line-height: 40px;
    margin: 0px 10px
}

#searchsubmit {
    background: transparent;
    float: left;
    padding: 10px 25px;

    .fa-search{
        color: #fff;
    }
}