.entry {
	.entry-title{
		font-size:$font__size-title;
		
	}
	.entry-header{
		text-align: center;
		margin: 0;
	}
	.entry-content {
		padding: 0;
		text-align: center;
		max-width: none;
		margin: 0;
		
		> * {
			margin: 32px auto;
			max-width: none;
			width: 100%;
			padding: 0;
			line-height: 30px;
		}
		
		.button-theme {
			border: 4px solid $color__background-button;
			color: $color__text-main;
			font-size: $font__size-xs;
			font-weight: $font-weight-bold;
			padding: 21px 35px;
			border-radius: $size__spacing-five;
			text-transform: uppercase;
			min-width: 230px;
			margin: 40px auto;
			display: inline-block;
			text-decoration: none;
			transition: 0.2s;
			letter-spacing: $letter-spacing-xxs;
			
			&:focus {
				outline: none;
			}
		}
	}
	
}

.homepage-content {
	.middle-line {
		text-align: center;
	}
	
	.effective-content,
	.business-content {
		@include grid(7);
		margin: auto;
		
	}
	
	.effective-title,
	.business-title {
		text-align: center;
		font-size: $font__size-xxxl;
		color: $color__text-main;
		margin-bottom: 25px;
		margin-top: 35px;
		
		&:before {
			display: none;
		}
	}
	
	.effective-description,
	.business-description {
		color: $color__text-light;
		font-size: $font__size-md;
		text-align: center;
		line-height: $size__spacing-three;
		@include grid(10);
		margin: 0 auto $size__spacing-three;
		
		b {
			color: $color__text-main;
		}
	}
	
	.service {
		overflow: hidden;
		position: relative;
		padding-bottom: 135px;
		margin-top: 50px;
		
		&:before {
			content: '';
			background-image: url("/wp-content/uploads/2019/05/pink_line_big.png");
			background-repeat: no-repeat;
			position: absolute;
			display: block;
			width: 4px;
			height: 134px;
			z-index: 4;
			bottom: 0;
			left: 50%;
		}
		
		a:hover {
			img {
				opacity: 0.8;
			}
		}
		
		.service-option {
			float: left;
			margin: 10px 0;
			@include grid(4)
			
		}
		
		img {
			max-width: 120px;
		}
		
		.service-info {
			font-size: $font__size-md;
			color: $color__text-light;
			padding: 0 $size__spacing-two $size__spacing-two;
		}
		
		.service-title {
			margin: $size__spacing-two 0;
		}
		
		.service-title a {
			color: $color__text-main;
			text-decoration: none;
			font-size: $font__size-xxl;
			font-weight: $font-weight-normalbold;
			
			&:hover {
				color: $color__background-button;
			}
		}
	}
	
	.project {
		transform: rotate(3deg);
		margin-left: -100px;
		margin-right: -100px;
		z-index: 5;
		background-color: $color__text-main;
		background-image: url(/wp-content/uploads/2019/05/footer_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.content-project {
		transform: rotate(-3deg);
		padding: 150px 0 100px 0;
		max-width: 1170px;
		margin: auto;
		
		&:before {
			content: '';
			background-image: url("/wp-content/uploads/2019/05/white_line_big.png");
			background-repeat: no-repeat;
			position: absolute;
			display: block;
			width: 4px;
			height: 134px;
			z-index: 4;
			top: 0;
			left: 50%;
		}
		
		.middle-line {
			padding-top: $size__spacing-unit;
		}
	}
	
	.step-project {
		display: flex;
		justify-content: center;
		align-self: center;
		counter-increment: questionNumber;
		margin: $size__spacing-five 0;
		
		> * {
			float: left;
			@include grid(4);
		}
		
		img {
			max-width: 270px;
			border: 10px solid rgba(255, 255, 255, 0.1);
			border-radius: 50%;
		}
		
		.step-right {
			color: rgba(255, 255, 255, 0.7);
			font-size: $font__size-md;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: left;
			max-width: 400px;
			margin: auto;
		}
		
		.step-left {
			display: flex;
			align-items: center;
			max-width: 400px;
			margin: auto;
		}
		
		.step-center {
			position: relative;
			
			&:after {
				content: '';
				background-image: url('/wp-content/uploads/2019/05/right_arrow.png');
				background-repeat: no-repeat;
				position: absolute;
				display: block;
				width: 34px;
				height: 136px;
				z-index: 4;
				bottom: -90px;
				right: 40px;
			}
			
			&.last {
				&:after {
					display: none;
				}
			}
		}
		
		&:nth-child(even) {
			flex-direction: row-reverse;
			
			.step-title {
				text-align: left;
				
				&:before {
					right: 0;
					left: auto;
				}
			}
			
			.step-right {
				text-align: right;
			}
			
			.step-center {
				&:after {
					background-image: url('/wp-content/uploads/2019/05/left_arrow.png');
					left: 40px;
					right: auto;
				}
			}
		}
	}
	
	.step-project:last-child {
		display: none;
	}
	
	.step-title {
		position: relative;
		color: $background_white;
		font-size: $font__size-number;
		width: 100%;
		text-align: right;
		font-weight: $font-weight-semibold;
		
		&:before {
			content: counters(questionNumber, ".", decimal-leading-zero);
			position: absolute;
			font-weight: $font-weight-semibold;
			z-index: -1;
			bottom: 120px;
			font-size: 200px;
			color: $color__background-button;
			background: transparent;
			width: auto;
			left: 0;
		}
	}
	
	.after-project {
		z-index: 5;
		position: relative;
		
		.button-theme {
			background: $background_white;
			border-color: $background_white;
			transition: $transition-half;
			margin-top: 0;
			
			&:hover {
				color: $color__background-button;
				border-color: $color__background-button;
			}
		}
	}
	
	.service-list {
		margin-top: 50px;

		.list {
			margin: $size__spacing-two 0 40px
		}
		
		a {
			padding: 5px 10px;
			margin: 0 0 10px;
			display: inline-block;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-weight: $font-weight-bold;
			color: $color__text-main;
			background-color: transparent;
			position: relative;
			z-index: 2;
			text-decoration: none;
			font-size: $font__size-xs;
			
			&:hover {
				color: $color__background-button-hover;
			}
		}
		
		.highlight a {
			
			color: $color__background-button-hover;
			font-size: $font__size-xs;
			font-weight: 500;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			
			&:hover {
				color: $color__text-main;
			}
		}
		
		.item-title {
			margin: 0;
			
			a {
				font-size: $font__size-xxl;
				text-transform: none;
				line-height: 30px;
				letter-spacing: 0px;
				font-weight: 500;
			}
			
			&:hover {
				color: $color__background-button-hover;
			}
		}
		
		.carousel-slider__caption {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			opacity: 0;
			justify-content: center;
			align-self: center;
			background: rgba(255, 255, 255, 0.9);
			transition: $transition-half;
		}
		
		.carousel-slider__item {
			position: relative;
			
			&:hover > .carousel-slider__caption {
				opacity: 1;
			}
		}
		
		.media-wrap {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		
		.carousel-slider .owl-nav {
			.owl-next, .owl-prev {
				display: flex;
				height: 80px !important;
				width: 80px !important;
				background: $color__background-button-hover;
				align-items: center;
				transition: $transition-half;
				
				&:hover {
					background: $color_text;
					
					svg {
						fill: $color__text-main !important;
					}
				}
			}
			
			.owl-next {
				border-radius: 50% 0 0 50%;
				right: -40px;
				
				&:hover {
					right: 0;
					
					> .carousel-slider-nav-icon {
						left: 25px;
					}
				}
				
				.carousel-slider-nav-icon {
					left: 15px;
				}
			}
			
			.owl-prev {
				border-radius: 0 50% 50% 0;
				left: -40px;
				
				&:hover {
					left: 0;
					
					> .carousel-slider-nav-icon {
						right: 25px;
					}
				}
				
				.carousel-slider-nav-icon {
					right: 15px;
				}
			}
			
			.carousel-slider-nav-icon {
				position: absolute;
				transition: $transition-half;
			}
		}
		
	}
	
	.slider-team {
		position: relative;

		@include breakpointMax(xsmall){
			display: flex;
			flex-wrap: wrap;
		}
		
		.slides {
			width: 100%;
			display: block;
			overflow: hidden;
			padding: 0px;
			margin: 0px;
		}
		
		.flex-direction-nav {
			display: none;
		}
		
		.image-member {
			overflow: hidden;
		}
		
	}
	
	.contact {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 80px;

		@include breakpointMax(large){
			right: 10px;
			width: 60px
		}

		@include breakpointMax(xsmall){
			width: 100%;
		}
		
		.facebook,
		.twitter,
		.google {
			width: 60px;
			height: 60px;
			line-height: 54px;
			border: 3px solid rgba(31, 39, 50, 0.1);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin-bottom: 10px;
			transition: 0.8s;
			position: relative;

			@include breakpointMax(large){
				width: 40px;
				height: 40px;
			}
		}
		
		.facebook {
			&:hover {
				background: $color__facebook;
				
				path {
					fill: $color__background-body;
				}
			}
			
			path {
				fill: $color__facebook;
			}
		}
		
		.twitter {
			&:hover {
				background: $color__twitter;
				
				path {
					fill: $color__background-body;
				}
			}
			
			path {
				fill: $color__twitter;
			}
		}
		
		.google {
			&:hover {
				background: $color__google;
				
				path {
					fill: $color__background-body;
				}
			}
			
			path {
				fill: $color__google;
			}
		}
	}
	
	.name-member {
		position: absolute;
		top: 50%;
		left: 17%;
		width: auto;
		transform: translateY(-50%);
		z-index: 9;

		@include breakpointMax(large){
			left: 6%;
		}
		
		li {
			color: $color__text-main;
			opacity: 0.3;
			transition: 0.2s;
			text-align: left;
			font-size: $font__size-title;
			cursor: pointer;
			font-weight: 500;
			line-height: 1.3;
			
			&:hover {
				opacity: 1;
			}
			
			.position {
				color: $color__background-button-hover;
			}
			
			&.slide-active,
			&.flex-active-slide {
				opacity: 1;
				
				.contact {
					display: block;
				}
			}

			@include breakpointMax(large){
				font-size: 30px;
				line-height: 45px;
			}
		}
		
		.flex-viewport {
			overflow: initial !important;
		}
	}
	
	.after-team {
		.button-theme {
			margin: 0;
			z-index: 2;
			position: relative;
			background: $color__background-button-hover;
			color: $color_text;
			
			&:hover {
				background: $color_text;
				color: $color__background-button-hover;
			}
		}
	}
	
	.top_corner_body {
		position: relative;
		z-index: 2;
		
		&:after,
		&:before {
			content: '';
			background-attachment: fixed;
			background-size: cover;
			background-repeat: no-repeat;
			@include grid(6);
			height: 60px;
			position: absolute;
			top: 20px;
			background: $background_service;
		}
		
		&:before {
			-webkit-transform: skewY(3deg);
			transform: skewY(3deg);
			left: 0;
		}
		
		&:after {
			-webkit-transform: skewY(-3deg);
			transform: skewY(-3deg);
			right: 0;
		}
	}
	
	.business {
		.middle-line {
			padding-top: $size__spacing-three;
		}
	}
	
	.banner-business {
		margin-top: $size__spacing-three;
		overflow: hidden;
		
		& > * {
			@include grid(4);
			float: left;
			padding: 5px;
		}
	}
	
	.after-business {
		padding-bottom: 50px;
		
		.button-theme:hover {
			background: $color__background-button-hover;
			color: $color_text;
		}
	}
	
	.post-list {
		position: relative;
		z-index: 4;
		margin: 0 5%;
	}
	
	.customer-review {
		background: $color__text-main;
		padding: $size__spacing-five 0;
		background-image: url(/wp-content/uploads/2019/05/footer_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 4;
		background-position: 50% -50px;
		background-attachment: fixed;
		
		.owl-item img {
			width: 270px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			border: 10px solid rgba(255, 255, 255, 0.1);
		}
		
		.middle-line {
			padding: $size__spacing-five 0;
		}
		
		.small-text {
			font-size: $font__size-sm;
			color: $color__background-button-hover;
			text-transform: uppercase;
			
		}
		
		.author-name {
			font-size: $font__size-xxxl;
			margin: 0 0 25px;
			color: $color_text;
		}
		
		.blockqoute-content {
			max-width: 770px;
			font-size: $font__size-xl;
			color: $color__text-light;
			margin: auto;
			position: relative;
			font-style: italic;
			
			&:before,
			&:after {
				content: '”';
				position: absolute;
				color: $color_text;
				display: block;
				margin-top: 0;
				top: 5px;
				font-size: 100px;
				opacity: 0.1;
				height: 28px;
				line-height: 0.8;
			}
			
			&:before {
				left: -70px;
				transform: rotate(180deg);
				top: -10px;
			}
			
			&:after {
				right: -70px;
			}
		}
	}
	
	.your-project {
		// Duy start
		.get-start {
			margin: 35px auto;
			
			.title {
				font-size: $font__size-number;
				font-weight: $font-weight-semibold;
				margin: 0 auto 35px;
				line-height: $font__line-height-heading;
			}
			
			.description {
				font-size: $font__size-md;
				color: $color__text-light;
			}
		}
		
		.button-theme.lets-talk {
			transition: ease $transition-half;
			
			&:hover {
				color: white;
				background-color: $color__background-button;
				transition: linear 50ms;
			}
		}
		
		.button-theme.more {
			margin: 0;
			z-index: 2;
			position: relative;
			background: $color__background-button-hover;
			color: $color_text;
			
			&:hover {
				background: $color_text;
				color: $color__background-button-hover;
			}
		}
		
		.contact-us {
			background-color: $color__background-screen;
			padding: 150px 0;
			position: relative;
			
			@keyframes contactzoom {
				0% {
					transform: scale(1);
					opacity: 1;
				}
				50% {
					transform: scale(1.4);
					opacity: 0;
				}
				100% {
					transform: scale(1);
					opacity: 1;
				}
			}
			
			&::before {
				content: "";
				background-image: url("/wp-content/uploads/2019/05/dark_line_short.png");
				background-repeat: no-repeat;
				position: absolute;
				top: 5px;
				width: 4px;
				height: 100px;
				margin-left: -2px;
			}
			
			&::after {
				content: "";
				background-image: url("/wp-content/uploads/2019/05/dark_line_short.png");
				background-repeat: no-repeat;
				position: absolute;
				bottom: 5px;
				width: 4px;
				height: 100px;
				margin-left: -2px;
			}
			
			.contact-item {
				float: left;
				@include grid(4);
				
				&:hover {
					.ct-icon {
						animation-name: contactzoom;
						animation-iteration-count: 1;
						animation-duration: 500ms;
						animation-timing-function: ease;
					}
				}
				
				a {
					background-color: transparent;
					text-decoration: none;
					
					&:hover {
						color: $color__background-button-hover;
					}
				}
			}
			
			.ct-icon {
				height: 160px;
				width: 160px;
				margin: auto;
				
				&-round {
					width: 100%;
					height: 100%;
					border: 5px solid white;
					border-radius: 50%;
					padding: 5px;
				}
				
				&-circle {
					background-color: white;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			
			.title {
				font-size: $font__size-xxl;
				font-weight: $font-weight-semibold;
				margin-top: $size__spacing-two;
			}
			
			.description {
				margin-top: 10px;
				line-height: $font__line-height-body;
				padding: 0 10px 10px 10px;
			}
			
			.sub-title {
				font-weight: $font-weight-semibold;
			}
			
			.sub-info {
				color: $color__text-light;
				word-break: break-all;
			}
			
			.link {
			
			}
			
		}
		
		.middle-line {
			position: relative;
			z-index: 1;
		}
		
		.skew-left,
		.skew-right {
			position: absolute;
			top: 35px;
			width: 50%;
			height: 100%;
			background-color: $background_white;
		}
		
		.skew-left {
			left: 0;
			transform: skewY(-5deg);
		}
		
		.skew-right {
			right: 0;
			transform: skewY(5deg);
		}
		
		// Duy end
	}
	
	.post-list .slick-slide {
		background: $color__background-body;
		padding: $size__spacing-five;
		margin: 2px;
		opacity: 0;
		
		&.slick-active {
			opacity: 1;
		}
	}
	
	.post-list {
		a {
			text-decoration: none;
		}
		
		.per-rl-gallery h3 {
			margin: 10px 0 $size__spacing-two 0;
			color: $color__text-main;
			min-height: 60px;
		}
		
		.posted-on {
			text-transform: uppercase;
			font-weight: 600;
			font-size: $font__size-xs;
			color: $color__background-button-hover;
			letter-spacing: 0.2em;
		}
		
		.svg-icon {
			margin: auto;
			display: block;
		}
		
		.screen-reader-text,
		.author {
			color: $color__text-main;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			letter-spacing: 0.2em;
			font-size: $font__size-xs;
		}
		
		.entry-footer {
			max-width: none;
			margin: 0;
		}
	}
}

.pr-block-page{
	background: $background_service;
}

// slider team
//=====================================================

#carousel{

	.slides{
		width: 100% !important;
		transform: none !important;

		@include breakpointMax(xsmall){
			padding-bottom: 80px;
		}

		li{
			width: 100% !important;
		}
	}
}


@include breakpointMax(large) {
	.homepage-content {
		.step-project {
			.step-center {
				&:after {
					right: $size__spacing-two
				}
				
				&:before {
					left: $size__spacing-two;
				}
			}
		}
	}
}

@include breakpointMax(small) {
	.homepage-content {
		.effective-content,
		.business-content {
			@include grid(10)
		}
		
		.service {
			.service-option {
				@include grid(6);
			}
		}
		
		.step-title {
			margin-bottom: $size__spacing-two;
			
			&:before {
				font-size: 90px;
				bottom: 65px;
			}
		}
		
		.step-project {
			flex-direction: column;
			
			> * {
				@include grid(12);
			}
			
			.step-right {
				margin-top: $size__spacing-two;
			}
			
			.step-center {
				&:after,
				&:before {
					display: none;
				}
			}
			
			.step-right {
				text-align: center;
			}
			
			&:nth-child(even) {
				flex-direction: column;
				
				.step-right {
					text-align: center;
				}
			}
		}
		
		.slider-team {
			.name-member {
				li {
					font-size: 30px;
					line-height: 45px;
				}
			}
		}
		
		.banner-business {
			> * {
				@include grid(12);
			}
		}
		
		.your-project {
			.contact-us {
				.contact-item {
					@include grid(12);
				}
			}
		}
		
	}
}

@include breakpointMax(xsmall) {
	.homepage-content {
		.project {
			margin: 0;
			transform: none;
		}
		
		.content-project {
			transform: rotate(0deg);
		}
		
		.slider-team {
			display: flex;
			flex-direction: column-reverse;
			
			.slides {
				position: static !important;
				width: 100% !important;
				padding: 0px 0px 20px;
				margin-bottom: 0px;
			}
			
			.name-member li {
				text-align: center;
				font-size: 24px;
			}
		}
		
		.flex-viewport {
			height: 100% !important;
		}
		
		.name-member {
			position: static;
			transform: unset;
		}
		
		.contact {
			position: static;
			text-align: center;
			margin: 0px;
			transform: unset;
			
			.facebook,
			.google,
			.twitter {
				display: inline-flex;
				width: 40px;
				height: 40px;
			}
		}
		
		.customer-review .blockqoute-content {
			padding: 0 $size__spacing-two;
			
			&:before,
			&:after {
				content: none;
			}
		}
		
		.your-project {
			.get-start {
				padding: 0 $size__spacing-two;
			}
			
			.skew-left,
			.skew-right {
				display: none;
			}
		}
		
	}

}
