//
//
//// Font Poppins
////================================================================================
//
//@font-face {
//    font-family: 'Poppins', sans-serif;
//    font-style: normal;
//    font-weight: 200;
//    src: url("../../fonts/poppins/Poppins-Light.ttf");
//}
//
//@font-face {
//    font-family: 'Poppins', sans-serif;
//    font-style: normal;
//    font-weight: 400;
//    src: url("../../fonts/poppins/Poppins-Medium.ttf");
//}
//
//@font-face {
//    font-family: 'Poppins', sans-serif;
//    font-style: normal;
//    font-weight: 600;
//    src: url("../../fonts/poppins/Poppins-SemiBold.ttf");
//}
//
//@font-face {
//    font-family: 'Poppins', sans-serif;
//    font-style: normal;
//    font-weight: 700;
//    src: url("../../fonts/poppins/Poppins-Bold.ttf");
//}
//
//
//// Font Fjalla One
////================================================================================
//
//@font-face {
//    font-family: 'Fjalla One', sans-serif;
//    font-style: normal;
//    font-weight: 400;
//    src: url("../../fonts/poppins/FjallaOne-Regular.ttf");
//}