
// Responsive header
//=======================================================================

@media (max-width: 1379px) {

    .header_mainmenu{

        .navPages-action{

            &:after{
                right: -28px;
            }
        }
    }

    .navPages-item{
        margin: 0px 22px;
    }
}

@media (max-width: 1280px) {

    .header_mainmenu{

        .navPages-action{

            &:after{
                right: -15px;
            }
        }
    }

    .navPages-item{
        margin: 0px 11px;
    }

    // Footer
    //================================================================

    #footer{

        .sub-footer{
            margin-left: 100px;
            margin-right: 100px;
            padding: 75px 20px;
        }
    }
}

@media (max-width: 992px) {

    #header{

        .container-header{
            padding: 5px 20px;
            height: auto !important;
        }
    }

    .logo-header{
        width: 80%;
    }

    .header_mainmenu{
        display: none;
    }

    .mainmenu_wrapper{
        width: 100%;
    }

    .menu-main-menu{
        width: 100%;
        margin-top: 15px;
        display: block;
    }

    .navPages-item{
        width: 100%;
        padding: 10px 30px;
        line-height: 30px;
        margin: 0px;
    }

    .header_right{
        width: 20%;
        justify-content: flex-end;
    }

    .search_modal_button{
        display: none;
    }

    .scroll-wrapper{

        .img-logo-scroll{
            padding: 0px 10px;
        }

        .container-logo{
            padding: 5px 20px;
        }

        .header-side-menu{
            height: calc(100vh - 150px);
        }
    }

    // Footer
    //================================================================

    #footer{

       .sub-footer-child{
           width: 100%;

           &:nth-child(2){
               margin-bottom: 30px;
           }
       }

        .widget-title{
            margin-top: 0px;
        }
    }

}

@media (max-width: 767px) {

    .after-toggle-menu-mobile{

        &:after{
            float: right;
            left: 30px;
        }
    }

    // Footer
    //================================================================

    #footer{

        .container-footer{
            border-radius: 100vw/20vw;
        }

        .sub-footer{
            padding: 50px 15px;
        }

        .sub-footer-child{
            padding: 0px;
        }

        .page_copyright{
            width: 100vw;
            margin-left: 100px;
            padding: 0px 20px;
            line-height: normal;
            align-items: center;
            display: flex;
        }
    }
}