
// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #ff497c;
$color__background-button-hover: #ff497c;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__background-button, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );
$background_white: #fff;
$background_menu_scroll: #1f2732;
$background_copyright: #ff497c;
$background_service:#f4f4f5;

// Text
$color__text-main: #1f2732;
$color__text-light: #7f7f7f;
$color__text-hover: lighten( #111, 22.5% );
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color_text: #fff;
$color_text_submenu: #000;
$color_text_footer: #7f7f7f;

// Links
$color__link: #0073aa;
$color__link-visited: #0073aa;
$color__link-hover: darken( $color__link, 10% );

// Borders
$color__border: #ccc;
$color__border-link: #0073aa;
$color__border-link-hover: darken( $color__link, 10% );
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;
$color_solid : #dedfe1;

//hover

$active_menu_header: #ff497c;
$scroll_menu: #393f47;


$background_header: rgba(31, 39, 50, 0.5);

$color__facebook :#507cbe;
$color__twitter  :#00abef;
$color__google   :#d93e2d;

$letter-spacing-sx: 0.2rem;


$letter-spacing-xxs:   0.2em;
$letter-spacing-xs:    0.4em;
$letter-spacing-sm:    0.6em;
$letter-spacing-md:    0.8em;
$letter-spacing-lg:    1em;
$letter-spacing-xl:    1.2em;
$letter-spacing-xxl:   1.4em;
$letter-spacing-xxxl:  1.6em;