// Responsive widths.

$size__spacing-unit: 1rem;
$size__spacing-five: 50px;
$size__spacing-three: 30px;
$size__spacing-two: 20px;
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-margins: calc(10% + 60px);
$size__site-tablet-content: calc(8 * (100vw / 12) - 28px);
$size__site-desktop-content: calc(6 * (100vw / 12) - 28px);

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1200px;
$wide_width: 1379px;
$width-tablet: 992px;


$screen-xxxlarge:               1920px !default;
$screen-xxlarge:                1680px !default;
$screen-xlarge:                 1440px !default;
$screen-large:                  1280px !default;
$screen-medium:                 1024px !default;
$screen-small:                  993px !default;
$screen-xsmall:                 768px !default;
$screen-xxsmall:                550px !default;



// Screen sizes map
// -----------------------------------------------------------------------------

$screenSizeMap: (
        xxxlarge:                   $screen-xxxlarge,
        xxlarge:                    $screen-xxlarge,
        xlarge:                     $screen-xlarge,
        large:                      $screen-large,
        medium:                     $screen-medium,
        small:                      $screen-small,
        xsmall:                     $screen-xsmall,
        xxsmall:                    $screen-xxsmall
);


//
// Screen sizes function
// -----------------------------------------------------------------------------

@function screenSize($key) {

  @if map-has-key($screenSizeMap, $key) {
    @return map-get($screenSizeMap, $key);
  }

  @warn "Unknown `#{$key}` in $screenSizeMap.";
  @return null;
}
