.gutenberg-compatible-template.using-gutenberg {
	//Blockquote
	blockquote.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left-width: 1px;
		padding-left: 4rem;
		border-left-color: $breaker;
	}
	.wp-block-pullquote {
		border: none;
	}
	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
		padding-top: 2.4rem;
	}

	//Buttons
	.wp-block-button__link, .button {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		min-height: 48px;
		height: 100% !important;
		text-align: center;
	}
	// Separator
	.wp-block-separator {
		margin-top: 24px;
		margin-bottom: 24px;
		border: 0;
		border-top: 1px solid #eeeeee;
	}
	// Columns
	.wp-block-columns {
		@media screen and (max-width: 600px) {
			display: block;
		}
		&.alignwide {
			max-width: 100%;
    		width: 100%;
		}
		&.has-2-columns {
			.wp-block-column {
				@media (min-width: 782px) {
					&:first-child {
						margin-right: 15px;
					}
					&:last-child {
						margin-left: 15px;
					}
				}
			}
		}

		&.has-3-columns, &.has-4-columns, &.has-5-columns, &.has-6-columns {
			.wp-block-column {
				@media (min-width: 782px) {
					margin-left: 15px;
					margin-right: 15px;
					&:first-child {
						margin-left: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		.wp-block-column {
			margin: 0;
		}
	}
	// Testiminial Widegt
	#lsx-testimonials-slider {
		margin-left: auto;
		margin-right: auto;
	}
	.lsx-button {
		transition: all 100ms ease;

		&:active {
			left: 2px;
			top: 2px;
			position: relative;
			box-shadow: 0 0 0 0 !important;
		}
	}
}

	// Greyed Background on Widget Cards for class grey-cards 

	.grey-cards {
		.lsx-block-post-grid-image {
			background: #f1f1f1 !important;
		}
		.lsx-block-post-grid-text {
			background: #f1f1f1 !important;
		}
	}
