@import 'global/variables';
@import 'global/mixins';
@import 'global/placeholders';

// Placeholders and Mixins

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	// padding: 6px 12px;
	// font-size: 15px;
	// line-height: 1.6;
	color: #4a4a4a;
	background-color: #fff;
	background-image: none;
	border: 2px solid #DDD;
	border-radius: 2px;
	// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	// lsx-form-control
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus {
		border-color: #418AD0;
		// outline: 0;
		// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6);
	}
}

%bootstrap-message {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px !important;

	&:before { display: none; }
}

%bootstrap-message-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

%bootstrap-message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

%bootstrap-message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

%small-form-field {
	height: 42px;
	padding: 10px 12px;
}

%small-form-select {
	height: 42px;
	padding: 0 12px;
}

%lsx-title {
	font-size: 30px !important;
	line-height: 1.2;
	margin-bottom: 4.25rem;
	margin-top: 0;
	text-align: center;

	&:after {
		content: '';
		display: block;
		height: 2px;
		margin: 2.4rem auto 0;
		width: 80px;
	}

	& > small {
		color: inherit;
		display: block;
		line-height: inherit;
		margin-top: 8px;

		&.long-text { margin-top: 16px; }
	}
}

@mixin small-button() {
	&,
	&:active,
	&:visited {
		font-weight: 400;
		height: initial;
		padding: 10px 30px !important;
	}
}


/**
 * Tribe General Structure
 */

 .tribe-button.tribe-button-small.tribe-upcoming.tribe-button-secondary, .tribe-community-events-content .tribe-nav .my-events-display-options a.tribe-upcoming,.tribe_community_edit .button, .tribe_community_edit .button-primary, .tribe_community_edit .button-secondary, .tribe_community_edit .tribe-add-recurrence.tribe-button, .tribe_community_edit .tribe-button, .tribe_community_list #tribe-add-exclusion.button, .tribe_community_list .button, .tribe_community_list .button-primary, .tribe_community_list .button-secondary, .tribe_community_list .tribe-add-recurrence.tribe-button, .tribe_community_list .tribe-button, .tribe-community-events.form .my-events-header .tribe-button, .tribe-community-events .tribe-section.tribe-section-image-uploader .tribe-image-upload-area .choose-file, .tribe-community-events.form .tribe-button, .tribe_community_edit .tribe-button.submit, .tribe_community_list .tribe-button.submit, .tribe-community-events .tribe-section.tribe-section-image-uploader .tribe-image-upload-area .EventImage, .tribe_community_edit .button-primary, .tribe_community_edit .tribe-button.tribe-button-primary, .tribe_community_list .button-primary, .tribe_community_list .tribe-button.tribe-button-primary,  .tribe_community_edit button.submit.events-community-submit, input.button.submit.events-community-submit, #post.tribe-button.submit.events-community-submit, .tribe-community-events.form .tribe-button, #tribe-community-events.form .tribe-button, .tribe-community-events-content .tribe-nav .table-menu-wrapper a.tribe-button-tertiary {
	@include lsx-button-scaffolding();
	@include lsx-button-colour();
	@include small-button();


	br {
		display:none;
	}
}
.tribe-events-button {
	box-shadow: 2px 2px 0 0 #7A030A;
	&, #tribe-events & {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}

.tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_wrapper .tribe_events_filters_toggle {
	font-size: 15px;
}

input#EventImage {
	position: absolute;
}


// Structure

#tribe-events-pg-template {
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

article.page {
	.page-template-default:not(.has-sidebar).tribe-theme-lsx & { width: 100% !important; }
}

.site-main {
	.archive:not(.has-sidebar).tribe-theme-lsx & { width: 100% !important; }
}

#tribe-bar-form {
	#tribe-bar-views {
		padding: 0;
		.tribe-bar-views-list { padding: 0; }
	}

	.tribe-bar-submit {
		input[type=submit] {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();
		}
	}
}


// .tribe-events-read-more {
// 	background-color: #a4050f !important;
// 	color: #ffffff !important;
// 	box-shadow: 2px 2px 0 0 #7C040C !important;
// }
a.tribe-events-read-more {
	.content-area &:not(.btn) {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}

.tribe-events-notices {
	@extend %bootstrap-message;
	@extend %bootstrap-message-info;
	margin-top: 0;

	ul {
		margin-bottom: 0 !important;
		padding-left: 0 !important;
	}
}

#tribe-events-footer,
#tribe-events-header  {
	.tribe-events-sub-nav {
		li {
			font-weight: bold;
			a { background: none; }
		}
	}
}

#tribe-events .tribe-community-events-content .tribe-nav .tribe-pagination .current {
	background: #418AD0;
}

a.tribe-button.tribe-button-small.tribe-past.tribe-button-tertiary, a.table-menu-btn.button.tribe-button.tribe-button-tertiary.tribe-button-activate, button#tribe-add-exclusion, .tribe-button.tribe-button-small.tribe-upcoming.tribe-button-tertiary,
.tribe-button.tribe-button-small.tribe-past.tribe-button-secondary {
	@include lsx-button-scaffolding();
	@include small-button();
	background: var(--shuttle-gray);
	color: #fff !important;
	border: none;
	box-shadow: 2px 2px 0 0 var(--button-secondary-hover);
	&:hover {
		background: var(--button-secondary-hover);
	}
}

.tribe-nav {
	.table-menu {
		ul {
			padding-left: 0;
		}
	}
}

.tribe-community-events .tribe-community-notice.tribe-community-notice-error {
    margin-top: 1em;
}

#tribe-events-header {
	margin-bottom: 0;
	.tribe-events-sub-nav { display: none; }
}

#tribe-events-footer {
	#comments + &,
	#respond + & {
		margin-top: 8.5rem;
	}
}

.tribe-theme-lsx {
	.datepicker { min-width: 160px; }
}

#tribe-bar-collapse-toggle { line-height: 31px; }

.tribe-events-calendar {
	th { font-weight: normal; }

	td {
		div[id*=tribe-events-daynum-] {
			&, & a { font-size: 14px; }
		}
	}
}

#tribe-events-content {
	margin-bottom: 0;
	padding: 0;
	// a {
	//     color: #A4050F;
	// }
	.tribe-events-tooltip {
		padding: 1em 0.5em;
		h3.entry-title.summary {
			padding: 0 0.5em;
			margin-bottom: 0;
		}
		h4 {
			font-weight: bold;
			padding: 8px 12px;
		}

		.tribe-events-event-body {
			overflow: hidden;
			padding: 5px 12px 0;

			.tribe-event-duration {
				font-weight: bold;

				.tribe-events-abbr { margin-bottom: 12px; }
			}

			.tribe-event-description {
				padding: 12px 0 0 0;

				p { margin-bottom: 12px; }
			}
		}

		&:not(.tribe-event-featured) {
			.tribe-events-event-thumb { padding: 12px 12px 12px 0; }
		}
	}
}

.tribe-events-user-recurrence-toggle {
	input[type="radio"],
	input[type="checkbox"] { margin-right: 8px; }
}

.tribe-events-list-separator-month {
	font-size: 18px;
	padding: 8px 12px;
	text-align: center;
}

.tribe-events-list {
	.tribe-events-list-event-title {
		font-size: 30px;
		margin-bottom: 12px;
	}

	.tribe-events-loop {
		.tribe-event-featured {
			margin-top: 2.25em;
			padding: 25px !important;

			.tribe-events-list-event-title {
				margin-top: 0;

				a { vertical-align: middle; }

				.label {
					font-size: 60%;
					margin-left: 10px;
					padding: 3px 12px;
					text-transform: uppercase;
					vertical-align: middle;

					@include media ('<phone') { display: none; }
				}
			}
		}

		.tribe-events-event-meta {
			font-weight: normal;
			// a {
			//     color: #A4050F;
			// }
		}

		.type-tribe_events {
			@include media ('>=tablet') {
				display: flex;
			}

			.tribe-events-event-meta { margin-bottom: 12px; }
		}

		.tribe-events-event-image,
		.tribe-event-featured .tribe-events-event-image {
			float: none;
			margin: 0 35px 0 0;
			text-align: left;
			min-width: 350px;

			@include media ('<phone') {
				margin: 0 0 15px 0;
				width: 100%;
			}
		}

		.tribe-events-event-content {
			@include media ('>=phone') { flex: 1 1 auto; }
		}
	}
}

.tribe-events-day {
	.tribe-events-day-time-slot {
		h5 {
			font-size: 18px;
			margin-top: 35px;
			padding: 8px 12px;
			text-align: center;
		}

		.type-tribe_events { margin-left: 0; }
	}
}

h2.tribe-events-page-title {
	font-size: 30px;
	margin-bottom: 35px;
}

#tribe-events-bar { margin-bottom: 35px; }

.single-tribe_events {
	.tribe-events-back { display: none; }
	.tribe-events-single-event-title { font-size: 40px; display: none; }
	.tribe-events-event-image { text-align: left; }

	.tribe-events-schedule {

		.tribe-events-cost {
			display: table;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			padding: 8px 12px;
			text-align: center;
			text-overflow: ellipsis;
		}
	}

	.tribe-events-event-meta {
		font-size: inherit;

		.column,
		.tribe-events-meta-group {
			padding: 0 25px;
		}

		.tribe-events-meta-group {
			.tribe-events-single-section-title {
				font-size: 22px;
				font-weight: normal;
				margin: 20px 0;
			}
		}
	}
}

.tribe-events-related-events-title { @extend %lsx-title; }

.tribe-events-single {
	ul.tribe-related-events {
		li {
			@include media ('>=phone') {
				margin-right: 2%;
				width: 32%;
				&:last-child { margin-right: 0; }
			}

			.tribe-related-event-info {
				padding: 2rem;
				text-align: center;

				.tribe-related-events-title { font-size: 20px; }

				.moretag {
					display: block;
					margin: 2rem -2rem -2rem;
					padding: 1rem 0;
					text-align: center;
					transition: background 300ms ease;

					&:after {
						color: inherit;
						content: '\f178';
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: inherit;
						margin-left: 5px;
						text-rendering: auto;

						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}
	}
}

.tribe-events-event-cost {
	font-weight: bold;
	.ticket-cost { margin-left: 10px; }
}
.tribe_events {
	.cart {
		border: 1px solid #E1E1E1;
	    background-color: #FFFFFF;
	    padding: 1em 2em;
	    margin-bottom: 2em;
	}
}
.tribe_events-template-default.single {
	.tribe-events-single-event-description {
		padding: 0 2em 0 0;
	}
}

.tribe-events-tickets {
	background: #ffffff !important;
	td {
	    padding: 10px 0 !important;
	    input {
	    	&:focus {
		    	border-color: #418AD0;
			    outline: 0;
			    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6)
		    }
	    }
	    select {
	    	&:focus {
		    	border-color: #418AD0;
			    outline: 0;
			    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6)
		    }
	    }
	}
}

.tribe-button.tribe-button--rsvp {
	margin: 0;
	&:hover {
		background-color: #eda700 !important;
	}
}
.tribe-tickets-meta-row {
    display: table-row;
}
.tribe-tickets-table {
	width: 100%;
	label {
	    padding-right: 15px;
	}
}
.tribe-events-tickets input, .tribe-events-tickets select {
    display: block;
    width: 100%;
    height: 50px;
    color: #4A4A4A;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-width: 2px;
    box-shadow: none;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 20px;
    transition: all 150ms ease;
}
.tribe-events-tickets-title.tribe--rsvp {
	padding: 0 10px;
}

@media (min-width: 992px) {
	.tribe_events .cart {
		float: right;
	    width: 40%;
	}
	.tribe_events-template-default.single .tribe-events-single-event-description {
		float: left;
	    width: 60%;
	}
}

/**
 * Tribe Community Event List
 */

#tribe-community-events, #tribe-events {
	form {
		.tribe-events-community-details {
			background-color: #fff;
			//padding: 1em 2em;
		}
		div.venue, .events-community-post-title, .events-community-post-content {
			display: flex;
			flex-direction: column;
			label {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
			input:not([type='checkbox']):not(.button), textarea {
				display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);
				@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  				@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
				@include form-control-focus;
				@include placeholder;
				&::-ms-expand {
					border: 0;
					background-color: transparent;
				  }
				&[disabled],
				&[readonly],
				fieldset[disabled] & {
					background-color: $input-bg-disabled;
					opacity: 1;
				}
				&[disabled],
				fieldset[disabled] & {
				cursor: $cursor-disabled;
				}
			}
			input[type='checkbox'] {
				margin: 5px 0 20px;
			}
			textarea {
				height: auto;
			}
		}
		.tribe-section-content, .tribe-section-content-field {
			ul {
				border: none;
				box-shadow: none;
			}
			li, input:not(.select2-input):not([type='checkbox']):not(.tribe-datepicker):not(.tribe-timepicker) {
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  				@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
				@include form-control-focus;
				@include placeholder;
				height: 50px;
				padding: 5px 15px;
				line-height: 35px;
				width: 100%;
			}
		}
		.select2-container.tribe-dropdown:not(.select2-container-multi) {
			width: 100%;
		}
		.select2-choice {
			border: 2px solid $input-border;
			border-radius: $input-border-radius;
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
			@include form-control-focus;
			@include placeholder;
			height: 50px;
			padding: 5px 10px;
			line-height: 35px;
		}
	}
}


.tribe-dropdown .select2-choice .select2-arrow, .tribe-ea-dropdown .select2-choice .select2-arrow {
	top: 10px;
}

.select2-container .select2-choice abbr {
    top: 17px;
}

.tribe-dropdown.select2-container-multi .select2-choices .select2-search-choice div, .tribe-ea-dropdown.select2-container-multi .select2-choices .select2-search-choice div {
	padding-left: 10px;
}

.select2-search-choice {
	margin: 5px 0 !important;
}

.select2-container.select2-container-multi.tribe-dropdown.tribe-dropdown-created.select2-dropdown-open {
	border: none;
}

.tribe-events-venue-meta {
	.tribe-events-event-image {
		clear: both;
	}
	.tribe-venue-name {
		display: none;
	}
}

.tribe-events-organizer-meta {
	.tribe-organizer-name {
		display: none;
	}
}


body:not(.logged-in) {
	#tribe-events.tribe-js {
		> p, .tribe-community-events-content > p {
			border-bottom: 1px solid #DDDDDD;
			padding: 1em 29px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 20px;
		}
		#loginform {
			padding: 1em 2em;
			label {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
			input:not([type='checkbox']):not([type='submit']), textarea {
				display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);
				@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
				@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
				@include form-control-focus;
				@include placeholder;
				&::-ms-expand {
					border: 0;
					background-color: transparent;
					}
				&[disabled],
				&[readonly],
				fieldset[disabled] & {
					background-color: $input-bg-disabled;
					opacity: 1;
				}
				&[disabled],
				fieldset[disabled] & {
				cursor: $cursor-disabled;
				}
			}
			input[type='checkbox'] {
				margin: 5px 0 20px;
			}
			textarea {
				height: auto;
			}
			@media (max-width:600px) {
				input#wp-submit {
					width: 100%;
				}
			}

		}
		> a, .tribe-community-events-content > a {
			display: block;
			padding: 1em 2em;
		}
	}
}

.tribe-buttonset .tribe-button-field.tribe-active {
	@include lsx-button-colour();
	height: inherit;
    box-shadow: none !important;
    border: 1px solid #ddd;
}

#tribe-community-events .my-events-header a.tribe-button.tribe-button-secondary {
    @include lsx-button-scaffolding();
	@include lsx-button-colour();
	@include small-button();
}

/* Tribe Community Events buttons aligned left */
a.tribe-add-post.tribe-button, button#tribe-add-recurrence {
    margin-left: 0;
    margin-right: 0;
}

/**
 * Tribe Community Events Add new
 */
.tribe-community-events.form, #tribe-community-events.form {
	padding: 0;
	background: transparent;
	border: none;

	.tribe-button {
		width: auto;
	}

	.tribe-field-start_date, .tribe-field-end_date, .tribe-field-start_time, .tribe-field-end_time {
		height: auto;
		color: #4A4A4A;
		background-color: #fff;
		background-image: none;
		border: 2px solid #DDD;
		border-radius: 2px;
		padding: 4px 10px;
		width: auto;

		&:focus {
			border-color: #418AD0;
			outline: 0;
		}
	}

	.my-events-header {
		background-color: #fff;
		padding: 16px;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		margin: 0;
		margin-bottom: 1.5em;
		h2.my-events {
			flex-grow: 10;
		}

		.tribe-button {
			flex-grow: 1;
		}
	}

	.tribe-section, .events-community-post-content, .events-community-post-title {
		background: #fff;
		border-radius: 3px;
		font-size: 13px;
	}

	.tribe-section {
		margin: 24px 0;
		padding-bottom: 32px;
		border: 1px solid #e0e0e0;
	}

	.events-community-post-title, .events-community-post-content {
		padding: 16px;
		font-weight: normal;
		border-top: 0;
		border-radius: 0;
		border: 1px solid #e0e0e0;

		label {
			display: block;
			font-weight: normal;
			margin: 0;
		}
	}

	.events-community-post-title {
		border-bottom: 0px;
		border: 1px solid #e0e0e0;
		display: block;
		margin: 0;
		//padding-bottom: 0px;

		#post-title {
			margin-bottom: 0;
			width: 100%;
			display: block;
		}
	}

	.events-community-post-content {
		border-bottom: 1px solid #e0e0e0;
		//padding-top: 0px;
		padding-bottom: 25px;
	}
}
.tribe-community-event-info {
	width: inherit;
}
.tribe-community-event-info {
	.organizer {
		display: flex;
		flex-direction: column;
		//width: 50%;

		input {
			display: block;
			height: $input-height-base;
			padding: $padding-base-vertical $padding-base-horizontal;
			font-size: $font-size-base;
			line-height: $line-height-base;
			color: $input-color;
			background-color: $input-bg;
			background-image: none;
			border: 2px solid $input-border;
			border-radius: $input-border-radius;
			@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
			@include form-control-focus;
			@include placeholder;
			&::-ms-expand {
				border: 0;
				background-color: transparent;
				}
			&[disabled],
			&[readonly],
			fieldset[disabled] & {
				background-color: $input-bg-disabled;
				opacity: 1;
			}
			&[disabled],
			fieldset[disabled] & {
			cursor: $cursor-disabled;
			}
		}
	}
}

/**
 * Tribe Community Events Mobile
 */
@media (min-width: 992px) {

	/*.tribe-community-events.form {
		.my-events-header {
			h2.my-events {
				flex-grow: 10;
			}

			.tribe-button {
				flex-grow: 1;
			}
		}
	}*/

}

#loginform, .loginform, .woocommerce form.login, .logged-out .woocommerce {
	max-width: 650px;
	margin-left: auto;
    margin-right: auto;
	button, button.button, #wp-submit {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}

