.breadcrumb > li + li:before{
	font-family: "Font Awesome 5 Free";
	color: $color__text-main;
	padding: 0 18px 0 16px;
	content: "\f111";
	font-size: 5px;
	position: relative;
	top: -2px;
	font-weight: 900;
}
.entry .entry-content .content-service {
	max-width: 90%;
	margin: auto;
}

.content-service {
	.grid-stack-item-content {
		opacity: 1;
	}
	
	.grid-plus-container .grid-post-item.thumbnail-title .post-info {
		padding: $size__spacing-five 60px;
		background: $background_service;
	}
	
	.grid-plus-container .grid-post-item .post-info .title {
		font-size: $font__size-xxl;
	}
	
	.grid-plus-container .grid-post-item .post-info .title:hover > a {
		color: $color__background-button-hover;
	}
	
	.grid-plus-container .grid-post-item .excerpt {
		color: $color__text-light;
		font-size: $font__size-md;
		line-height: $size__spacing-three;
		max-height: none;
	}
	
	.grid-category,
	.hover-outer {
		display: none;
	}
	.grid-plus-container .grid-post-item .read-more {
		display: inline-block;
		font-size: $font__size-xs;
		font-weight: $font-weight-bold;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		margin-top: $size__spacing-two;
		color: $color__background-button-hover;
		
		&:hover {
			color: $color__text-main;
		}
	}
	.grid-stack.grid-stack-3>.grid-stack-item[data-gs-x='1'] .grid-post-item{
		@include breakpoint(small){
			display: flex;
			flex-direction: column-reverse;
		}
	}
}
